* {
  font-family: "Lato", "Kosugi Maru", sans-serif; }

body {
  background-color: #f8f8f8; }

section.section {
  padding: 4rem 1.5rem; }

.logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  .logo__bgimage {
    width: 100%; }
  .logo__mask, .logo__body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%; }
  .logo__mask {
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000; }
  .logo__body {
    z-index: 10001;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    padding: 20px; }
  .logo__image {
    position: relative;
    z-index: 10001;
    height: 50%;
    margin-bottom: 20px; }
    .logo__image img {
      height: 100%; }
  @media screen and (max-width: 600px) {
    .logo__bgimage {
      max-width: none;
      height: 450px;
      width: auto; } }
  .logo__information {
    position: relative;
    z-index: 10001;
    color: white;
    text-align: center;
    font-size: 1.2rem; }
  .logo__entry_description {
    font-size: 0.75em;
    margin-top: 6px;
    opacity: 0.75; }

.entry-area {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }
  .entry-area .button {
    width: 85%;
    max-width: 400px; }
    .entry-area .button:last-child {
      margin-top: 20px; }

.schedule-description {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }

.i_with_txt {
  margin-right: 4px; }

.timetable {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto; }
  .timetable__row {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 1.5rem;
    height: 80px; }
  .timetable__time {
    width: 100px; }

.speakers {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap; }

.staffs {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap; }

.sponsors {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.profile-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px #ddd;
  border-radius: 5px;
  margin: 10px;
  flex-wrap: wrap;
  background-color: white;
  max-width: 600px; }
  .profile-card__img {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-flex: 1;
            flex-grow: 1;
    padding: 10px; }
    .profile-card__img img {
      border-radius: 5px;
      max-height: 280px;
      max-width: 280px; }
    .profile-card__img.profile-card__img--staff {
      padding: 5px 10px 5px 5px; }
    .profile-card__img.profile-card__img--staff img {
      max-height: 80px; }
  .profile-card__description {
    -webkit-box-flex: 1;
            flex-grow: 1;
    min-width: 200px;
    padding: 10px; }
    .profile-card__description.profile-card__description--fullwidth {
      width: 100%; }
    .profile-card__description.profile-card__description--staff {
      min-width: 80px;
      padding: 10px 10px 10px 0px; }

footer.footer {
  background-color: #ccc;
  padding: 1.5rem;
  font-size: 0.75rem; }
