* {
  font-family: "Lato", "Kosugi Maru", sans-serif;
}

.logo {
  position: relative;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__bgimage {
  width: 100%;
}

.logo__mask {
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: 35%;
  min-height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo__mask::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10000;
}

.logo__image {
  position: relative;
  z-index: 10001;
  height: 60%;
  margin-bottom: 20px;
}

.logo__information {
  position: relative;
  z-index: 10001;
  color: white;
  text-align: center;
  font-size: 1.2rem;
}

.i_with_txt {
  margin-right: 4px;
}

.footer {
  background-color: #fafafa;
  padding: 1.5rem;
  font-size: 0.75rem;
}
