doctype html
head
  title 富山Ruby会議01
  link(rel='apple-touch-icon' sizes='180x180' href='./images/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='./images/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='./images/favicon/favicon-16x16.png')
  link(rel='manifest' href='./images/favicon/site.webmanifest')
  meta(charset="utf-8")
  meta(name='msapplication-TileColor' content='#da532c')
  meta(name='theme-color' content='#ffffff')
  meta(name='viewport' content='width=device-width initial-scale=1.0')
  meta(name="google-site-verification" content="gV-2Oi8nXBMtsLtMPkmFgfZ8BAlJb65gIO9wBJT5tF0")

  meta(itemprop='name' content='富山Ruby会議01')
  meta(itemprop='image' content='https://toyamarb.github.io/toyama-rubykaigi01/images/ogimage.png')
  meta(property='og:url' content='https://toyamarb.github.io/toyama-rubykaigi01')
  meta(property='og:type' content='website')
  meta(property='og:title' content='富山Ruby会議01')
  meta(property='og:image' content='https://toyamarb.github.io/toyama-rubykaigi01/images/ogimage.png')
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:title' content='富山Ruby会議01')
  meta(name='twitter:image' content='https://toyamarb.github.io/toyama-rubykaigi01/images/ogimage.png')

  link(href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Lato&amp;display=swap" rel="stylesheet")
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css')
  link(rel='stylesheet' href='./style.css')
  script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')

body
  article.media
    .media-content
      .content
        .logo
          img.logo__bgimage(src='./images/himi.jpg')
          .logo__mask
          .logo__body
            .logo__image
              img(src='./images/white@3x.png')
            .logo__information
              p.is-marginless
                i.fas.fa-calendar-alt.i_with_txt
                span 2019/11/3 (日)
              p
                i.fas.fa-map-marker-alt.i_with_txt
                span 富山国際会議場 大手町フォーラム
              a.logo__entry.button.is-large.is-rounded.is-inverted.is-primary(disabled)
                | 参加登録
              .logo__entry_description 後日connpassで募集ページを公開します
              a.logo__entry.button.is-large.is-rounded.is-inverted.is-primary(href='https://docs.google.com/forms/d/e/1FAIpQLSeFbwlkkwUSBRdszroQOO9pGQtdLC1G9p8Lfc9W0VBWNtrsMQ/viewform')
                | LT申し込み
              .logo__entry_description 募集期間は 2019/09/28 23:00 までです。詳細は申し込みフォームをご確認下さい。


  section.section
    .container.has-text-centered
      h3.title.is-3 日時・場所
      .schedule-description
        div 2019/11/3 (日) 11:00-18:00
        div
          a(href='https://www.ticc.co.jp/', target='_blank') 富山国際会議場 大手町フォーラム
          span.tag
            i.fas.fa-map-marker-alt.i_with_txt
            a(href='https://www.google.com/maps/place/%E5%AF%8C%E5%B1%B1%E5%9B%BD%E9%9A%9B%E4%BC%9A%E8%AD%B0%E5%A0%B4+%E5%A4%A7%E6%89%8B%E7%94%BA%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A9%E3%83%A0/@36.6914961,137.2087614,17z/data=!4m5!3m4!1s0x0:0x9f025570df322b16!8m2!3d36.6914964!4d137.2109503', target='_blank') Map
 
  section.section
    .container.has-text-centered
      h3.title.is-3 招待公演
      .speakers
        .profile-card
          .profile-card__img
            img(src='./images/speaker/soutaro.jpeg')
          .profile-card__description
            .is-size-4 松本宗太郎
            .is-size-6 Soutaro Matsumoto
            div
              a(href='https://github.com/soutaro', target='_blank')
                i.fab.fa-github
              a(href='https://twitter.com/soutaro', target='_blank')
                i.fab.fa-twitter
        .profile-card
          .profile-card__img
            img(src='./images/speaker/junichiito.jpeg')
          .profile-card__description
            .is-size-4 伊藤淳一
            .is-size-6 Junichi Ito
            div
              a(href='https://github.com/JunichiIto', target='_blank')
                i.fab.fa-github
              a(href='https://twitter.com/jnchito', target='_blank')
                i.fab.fa-twitter

  section.section
    .container.has-text-centered
      h3.title.is-3 タイムテーブル
      .timetable
        .is-size-4 Coming soon
        .is-size-6 後日、本ページで公開予定です
        //
          <div class="timetable__row">
          <div class="timetable__time">00:00</div>
          <div class="timetable__content">開場受付開始</div>
          </div>

  section.section
    .container.has-text-centered
      h3.title.is-3 スポンサー
      .sponsors
        .profile-card
          .profile-card__description.profile-card__description--fullwidth
            .is-size-6
              a(href='https://agile.esm.co.jp/', target='_blank') 株式会社永和システムマネジメント
          .profile-card__img
            a(href='https://agile.esm.co.jp/', target='_blank')
              img(src='./images/sponsor/eiwa.png')

  section.section
    .container.has-text-centered
      h3.title.is-3 運営
      .staffs
        .profile-card
          .profile-card__img.profile-card__img--staff
            img(src='./images/staffs/kunitoo.jpeg')
          .profile-card__description.profile-card__description--staff
            .is-size-6 @kunitoo
            div
              a(href='https://github.com/kunitoo', target='_blank')
                i.fab.fa-github
              a(href='https://twitter.com/kunitoo', target='_blank')
                i.fab.fa-twitter
        .profile-card
          .profile-card__img.profile-card__img--staff
            img(src='./images/staffs/mugi_uno.jpg')
          .profile-card__description.profile-card__description--staff
            .is-size-6 @mugi_uno
            div
              a(href='https://github.com/mugi-uno', target='_blank')
                i.fab.fa-github
              a(href='https://twitter.com/mugi_uno', target='_blank')
                i.fab.fa-twitter
        .profile-card
          .profile-card__img.profile-card__img--staff
            img(src='./images/staffs/noboru-i.jpeg')
          .profile-card__description.profile-card__description--staff
            .is-size-6 @noboru_i
            div
              a(href='https://github.com/noboru-i', target='_blank')
                i.fab.fa-github
              a(href='https://twitter.com/noboru_i', target='_blank')
                i.fab.fa-twitter

  footer.footer
    .content.has-text-centered
      p This work by 富山Ruby会議01 Team is licensed under a Creative Commons Attribution 3.0 Unported License.
