@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


* {
  font-family: "Lato", "Kosugi Maru", sans-serif;
}

body {
  background-color: #f8f8f8;
}

section.section {
  padding: 4rem 1.5rem;
}

.logo {
  @include flex-center;
  position: relative;
  max-height: 600px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &__bgimage {
    width: 100%;
  }

  &__mask,
  &__body {
    @include flex-center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 100%;
  }

  &__mask {
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10000;
  }

  &__body {
    z-index: 10001;
    flex-direction: column;
    padding: 20px;
  }

  &__image {
    position: relative;
    z-index: 10001;
    height: 50%;
    margin-bottom: 20px;

    img {
      height: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    &__bgimage {
      max-width: none;
      height: 450px;
      width: auto;
    }
  }

  &__information {
    position: relative;
    z-index: 10001;
    color: white;
    text-align: center;
    font-size: 1.2rem;
  }

  &__entry_description {
    font-size: 0.75em;
    margin-top: 6px;
    opacity: 0.75;
  }
}

.schedule-description {
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.i_with_txt {
  margin-right: 4px;
}

.timetable {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  &__row {
    @include flex-center;
    font-size: 1.5rem;
    height: 80px;
  }

  &__time {
    width: 100px;
  }
}


.speakers {
  @include flex-justify-center;
  flex-wrap: wrap;
}

.staffs {
  @include flex-justify-center;
  flex-wrap: wrap;
}

.sponsors {
  @include flex-justify-center;
}

.profile-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px #ddd;
  border-radius: 5px;
  margin: 10px;
  flex-wrap: wrap;
  background-color: white;
  max-width: 600px;

  &__img {
    @include flex-center;
    flex-grow: 1;
    padding: 10px;

    img {
      border-radius: 5px;
      max-height: 280px;
      max-width: 280px;
    }

    &#{&}--staff {
      padding: 5px 10px 5px 5px;
    }

    &#{&}--staff img {
      max-height: 80px;
    }
  }


  &__description {
    flex-grow: 1;
    min-width: 200px;
    padding: 10px;

    &#{&}--fullwidth {
      width: 100%;
    }

    &#{&}--staff {
      min-width: 80px;
      padding: 10px 10px 10px 0px;
    }
  }
}


footer.footer {
  background-color: #ccc;
  padding: 1.5rem;
  font-size: 0.75rem;
}